html { scroll-behavior: smooth; }

#header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    width: 100%;
    left: 0%;
    justify-content: right;
    position: fixed;
    top: 0%;
    height: 40px;
    padding: 0px;
    & > .headinfo {
        margin: 5px;
    }
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    margin-top: 70px;
}

#sh {
    text-align: center;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    margin: 10px;
}

#aboutp {
    font-family:'Courier New', Courier;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    
}

#vismis {
    display: flex;
    min-height: 400px;
}
#vision {
    font-family:'Courier New', Courier;
    text-align: center;
    margin: 30px;
    max-width: 40%;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    display: inline-block;
    position: absolute;
    left: 5%;
    & > h2 {
        margin: 10px;
    }
    & > p {
        margin: 10px;
        font-size: 14px;
    }
}

#mission {
    font-family:'Courier New', Courier;
    text-align: center;
    max-width: 40%;
    margin: 30px;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    display: inline-block;
    position: absolute;
    right: 5%;
    & > h2 {
        margin: 10px;
    }
    & > p {
        margin: 10px;
        font-size: 14px;
    }

}
